<style>
    a {
      color: black;
      text-decoration: none;
    }

    a:hover {
      color: black;
      text-decoration: none;
    }

    .yoon_header_nav{
        margin: 0 0.5rem;
    }
    .yoon_header_navbar{
        margin: 1rem 0;
    }
</style>

<div class="yoon_header">
    <div class="yoon_logo">
        <h1>Yoon</h1>
    </div>
    <div class="yoon_header_navbar">
        <a href="{% url 'articleapp:list' %}" class="yoon_header_nav">
            <span>Articles</span>
        </a>
        <a href="{% url 'projectapp:list' %}" class="yoon_header_nav">
            <span>Project</span>
        </a>
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="yoon_header_nav">
            <span>Login</span>
        </a>
        <a href="{% url 'accountapp:login' %}" class="yoon_header_nav">
            <span>SiginUp</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk%}" class="yoon_header_nav">
            <span>MyPage</span>
        </a>
        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="yoon_header_nav">
            <span>Logout</span>
        </a>
        {% endif %}
        </div>
</div>