

.yoon_logo{
    font-family: 'Raleway', sans-serif;
}

.yoon_footer_button{

}

.yoon_footer{
    text-align:center;
    margin-top: 2rem;
}

.yoon_header{
    margin:2rem 0;
    text-align:center;
}